body {
  margin: 0 auto;
  background-color:#1a8ec2;
}

header {
  background-color:#0079bf;
  height: 75px;
  box-sizing: border-box;
}

header i,p {
  display: inline-block;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  color: white;
  margin-top: 15px;
}

header i {
  padding-left: 40%;
  padding-right: 0.5%;
}


#newForm {
  display: none;
}
#save {
  display: block;
}
