body {
  margin: 0 auto;
  background-color:#1a8ec2;
}

header {
  background-color:#0079bf;
  height: 75px;
  box-sizing: border-box;
}

header i, header p {
  display: inline-block;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  color: white;
  margin-top: 15px;
}

header i {
  padding-left: 40%;
  padding-right: 0.5%;
}

.trello h3 {
  color: white;
  font-family: sans-serif;
  margin-left: 10px;
}
.button {
  background-color: #72bf5d;
  margin: 10px;
  padding: 8px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.textArea {
  background-color: #dbdcdf;
  padding: 6px;
  margin-top: 10px;
  font-family: sans-serif;
}

.container {
  background-color: #e4e4e7;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  text-align: top;
}

.tittle {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background-color: #dbdcdf;
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.tareas {
  font-family: sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: #dbdcdf;
}
#newForm {
  display: none;
}
#save {
  display: block;
}
